<!--app-carousel [imgsUrl]="urls" [width]="600" [height]="285">
</app-carousel>
<app-carousel-v2 [imgsUrl]="urls" [width]="'600px'"></app-carousel-v2-->
<!--app-carousel-v2 [imgUrls]="imgUrls" [width]="'100%'"></app-carousel-v2-->
<div class="wrap">
    <div class="box-carousel">
        <app-carousel-v2 [imgUrls]="imgUrls" [width]="'100%'"></app-carousel-v2>
    </div>
    <div class="box-lorem">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae blandit arcu, ac lacinia risus. Nullam fringilla sed lacus vitae fermentum. Morbi sodales eros eget lectus elementum, et posuere ipsum condimentum. Nam ante erat, finibus ut pulvinar
            et, congue quis ante. Nunc fringilla placerat euismod. Sed ac lectus congue, ultricies ipsum in, vehicula diam. Nullam ex quam, facilisis quis ex et, ornare euismod dolor. Morbi eget sapien eget dolor pellentesque euismod non sit amet enim.
            Vivamus aliquet ante et quam accumsan, eu iaculis eros condimentum. Nunc efficitur felis neque, non facilisis dolor bibendum a. Mauris tincidunt egestas nunc sit amet iaculis. Nunc quis lorem egestas, facilisis mauris ut, elementum ligula.
            Aenean
        </p>
        <p>
            nibh et posuere vestibulum, odio nunc venenatis nunc, vestibulum ornare velit felis ac purus. Suspendisse porttitor pretium nunc sed tincidunt. Vestibulum aliquet dignissim est eget ultrices. Vestibulum ex nisi, semper eu lacus in, ultrices varius nibh.
            Quisque malesuada, orci at egestas ullamcorper, libero erat tincidunt justo, quis gravida tellus nibh vel leo. Donec accumsan sem in turpis ultricies, nec pretium nunc maximus. Proin vel laoreet justo. Aliquam posuere ex libero, ac facilisis
            mi commodo a. Integer viverra massa nisl, sed pharetra nulla porttitor eget. Mauris malesuada gravida nisi, auctor vehicula ipsum iaculis vel. Proin vel ex id lorem lacinia ornare vitae nec erat. Mauris non risus nulla. Suspendisse dapibus
            ex ut tortor egestas feugiat. Vivamus ut fringilla eros, sit amet aliquam massa. Ut sed felis a eros laoreet maximus a ac risus. Nulla facilisi. Proin egestas metus eros, et elementum orci dignissim et. Sed purus nisi, semper
        </p>
        <p> quis ligula in, accumsan maximus neque. Donec sit amet nulla at est suscipit tempor. Quisque ullamcorper nisl nec ornare consequat. In hac habitasse platea dictumst. Nulla facilisis magna ut leo accumsan, a eleifend neque placerat. Donec convallis
            porta tincidunt. Morbi ullamcorper eget lectus quis consequat. Etiam consectetur ligula sed leo auctor, nec accumsan ante pulvinar. Cras dictum ipsum et ex facilisis sagittis. Integer dignissim nisl massa, consequat lobortis leo ornare in.
            Vivamus sit amet luctus arcu, et sodales risus. Donec vulputate, dolor sed finibus cursus, ligula enim porta turpis, eget porttitor ipsum mi ut arcu. Donec sit amet hendrerit erat. Suspendisse ex nisl, commodo in auctor faucibus, posuere eget
            lectus. Etiam et tellus at sem mollis ultrices a non ante. Sed consequat lacus purus, sit amet luctus velit iaculis quis. In sodales tellus ac ipsum laoreet, eu congue elit ultrices. Proin at sapien ac ante euismod semper. Fusce fringilla
            libero eu nunc venenatis fringilla. Integer non ullamcorper urna. Curabitur venenatis euismod odio vel fermentum. Suspendisse posuere rutrum ipsum nec tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Phasellus hendrerit fermentum varius. Phasellus consectetur odio et est interdum, laoreet pretium quam posuere. Fusce pulvinar massa at sapien tristique, ac cursus metus rutrum. Praesent sed purus pretium, volutpat dolor quis,
            molestie urna. Aenean vehicula tellus semper mi ultrices aliquet. Ut non leo risus. Mauris in urna mollis, aliquet purus ac, blandit ante. Pellentesque tincidunt non neque id efficitur. Fusce sed augue vel ipsum pharetra vulputate. Aliquam
            purus elit, semper id placerat non, dictum sit amet mauris. Quisque cursus cursus arcu nec pulvinar. Nulla facilisi. Aliquam arcu neque, aliquet id ultricies in, fringilla at orci. Curabitur euismod massa tincidunt justo scelerisque lobortis.
            In volutpat vel nulla in maximus. Integer magna lectus, tincidunt quis ultrices id, viverra a nulla. Nulla facilisi.
        </p>
    </div>
</div>
<!--app-carousel-v3 [urls]="imgUrls" [widthCarousel]="'80%'" [widthImg]="'100%'" [minWidthImg]="'600px'"></app-carousel-v3-->