.my-carousel {
    position: relative;
    display: flex;
    margin: 0;
    border: dotted 2px red;
    overflow: hidden;
}

.my-carousel>md-icon {
    z-index: 10;
    position: absolute;
}

.my-carousel-item {
    width: 100%;
    flex: 1 0 100%;
}

.my-carousel-img {
    width: 100%;
}

.my-carousel>.left {
    top: 50%;
    left: 2%;
}

.my-carousel>.right {
    top: 50%;
    right: 2%;
}