<div id="dashboard" class="wrapper">

    <div class="sidenav">
        <h1>sidenav</h1>
        <div id="user-div" class="sidenav-head">
            <h1>
                Sidenav Head
            </h1>
        </div>

        <div id="user-div" class="sidenav-section">
            <p>
                User Section
            </p>
        </div>

        <div id="marketplace-div" class="sidenav-section">
            <p>
                Marketplace Section
            </p>
        </div>

        <div id="article-div" class="sidenav-section">
            <p>
                Article Section
            </p>
        </div>

    </div>

    <div class="body">
        <div class="body-head">
            Head
        </div>

        <div class="body-content">

            <div class="body-content-section">
                Body Section 1
            </div>

            <div class="body-content-section">
                Body Section 1
            </div>

            <div class="body-content-section">
                Body Section 1
            </div>

        </div>

        <div class="body-footer">
            <p>
                footer
            </p>
        </div>

    </div>

</div>